<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myAdmin">
	<head>
		<meta charset="utf-8" />
		<title>{{ 'TITLE_TAG' | xlat }}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--fonts-->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!--ace styles-->

		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!--inline styles related to this page-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="icon-leaf"></i>
							{{ 'COMPANY_TAG' | xlat }}
						</small>
					</a><!--/.brand-->

					<ul class="nav ace-nav pull-right">

						<li class="grey"><!-- task -->
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">{{tasks}}</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-ok"></i>
									{{ 'TASK_TITLE' | xlat }}
								</li>

								<li ng-repeat="opt in tasks_list" ng-if="opt.val < 100">
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">{{opt.name}}</span>
											<span class="pull-right">{{opt.val}}%</span>
										</div>

										<div class="progress progress-mini {{progresSts(opt.val)}}">
											<div style="width:{{opt.val}}%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#" ng-if="tasks_all>0">
										{{ 'TASK_DETAILS' | xlat }} ({{tasks_all}})
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple"><!-- notification -->
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">{{notifications}}</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-warning-sign"></i>
									{{ 'NOTIFICATION_TITLE' | xlat }}
								</li>

								<li ng-repeat="opt2 in notifications_list" ng-if="opt2.read === false">
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-pink icon-comment"></i>
												{{opt2.msg}}
											</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										{{ 'NOTIFICATION_DETAILS' | xlat }} ({{notifications_all}})
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green"><!-- message -->
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">{{messages}}</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-envelope-alt"></i>
									{{ 'MESSAGE_TITLE' | xlat }}
								</li>

								<li ng-repeat="opt3 in messages_list" ng-if="opt3.read === false">
									<a href="#">
										<img src="assets/avatars/avatar.png" class="msg-photo" alt="avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">{{opt3.frm}}:</span>
												{{opt3.msg}}
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>{{opt3.time}}</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										{{ 'MESSAGE_DETAILS' | xlat }} ({{messages_all}})
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue"><!-- welcome -->
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>{{ 'WELCOME' | xlat }},</small>
									{{User}}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">

								<li>
									<a href="logout.html">
										<i class="icon-off"></i>
										{{ 'LOGOUT' | xlat }}
									</a>
								</li>
							</ul>
						</li>

					</ul><!--/.ace-nav-->
				</div><!--/.container-fluid-->
			</div><!--/.navbar-inner-->
		</div>

		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				<ul class="nav nav-list">
					<li ng-repeat="opt4 in menus_list">
						<a href="{{opt4.link}}">
							<i class="{{opt4.clsname}}"></i>
							<span class="menu-text">{{opt4.txt}}</span>
						</a>
					</li>

				</ul><!--/.nav-list-->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<a href="#">{{CurrentPageTitle}}</a>
						</li>
					</ul><!--.breadcrumb-->

				</div>

				<div class="page-content">
					<!--PAGE CONTENT BEGINS-->
					<div ng-view></div>
					<!--PAGE CONTENT ENDS-->

				</div><!--/.page-content-->

			</div><!--/.main-content-->
		</div><!--/.main-container-->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>

		<!--basic scripts-->

		<!--[if !IE]>-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!--<![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!--<![endif]-->

		<!--[if IE]>
  <script type="text/javascript">
   window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
  </script>
  <![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!--page specific plugin scripts-->

		<!--ace scripts-->
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>

    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="js/initialXlatTables.js"></script>
    <script src="js/xlat.js"></script>

		<!--inline scripts related to this page-->
		<script>
			var app = angular.module("myApp", ["ngRoute","xlat"]);

			app.config(function($routeProvider) {
			    $routeProvider
			    .when("/", {
			        templateUrl : "screens/admin/dashboard.html",
							controller : "DashboardCtrl"
			    })
					.when("/checkmail", {
							templateUrl : "screens/admin/checkmail.html",
							controller : "CheckmailCtrl"
					});
			});

			var defaultListController = function ($scope, xlatService) {
				$scope.setCurrentLanguage = function(language) {
					xlatService.setCurrentLanguage(language);
				};

				$scope.progresSts = function (sts) {
					if (sts <= 25) return 'progress-striped active';
					if (sts >= 26 && sts <= 50) return 'progress-danger progress-striped active';
					if (sts >= 51 && sts <= 75) return 'progress-warning progress-striped active';
					if (sts >= 76 && sts <= 99) return 'progress-success progress-striped active';
					if (sts >= 100) return 'progress-success';

					return 'progress-danger';
				}

				$scope.taskLength = function(obj) {
					var i = 0;
					obj.forEach(function(element) {
    				if (element.val<100) i++;
					});

					return i;
				}

				$scope.nmLength = function(obj) {
					var i = 0;
					obj.forEach(function(element) {
    				if (element.read === false) i++;
					});

					return i;
				}

				if (!localStorage.userName) {
						window.location.href = 'index.html';
						return;
				}

				// tasks
				$scope.tasks_list = [
					{ name: 'migros', val:1 },
					{ name: 'sok', val:30 },
					{ name: 'bim', val:60 },
					{ name: '101', val:95 },
					{ name: 'gim', val:100 }
   			];
				$scope.tasks = $scope.taskLength($scope.tasks_list);
				$scope.tasks_all = $scope.tasks_list.length;

				// notifications
				$scope.notifications_list = [
					{ msg: 'gim listesi işlenmesi bitti', read:false}
   			];
				$scope.notifications = $scope.nmLength($scope.notifications_list);
				$scope.notifications_all = $scope.notifications_list.length;

				// messages
				$scope.messages_list = [
					{ frm:'admin', msg: 'merhaba, sistemimize hoş geldiniz.', time:'10.09.2017 10:00', read:true},
					{ frm:'admin', msg: 'gim toplu mail listesi temizlenmiştir.', time:'13.09.2017 22:00', read:false},
   			];
				$scope.messages = $scope.nmLength($scope.messages_list);
				$scope.messages_all = $scope.messages_list.length;

				// menus
				$scope.menus_list = [
					{link: '#!', clsname: 'icon-dashboard', txt: 'Gösterge Paneli'},
					{link: '#!', clsname: 'icon-tasks', txt: 'Görevler'},
					{link: '#!', clsname: 'icon-bell-alt', txt: 'Bildirimler'},
					{link: '#!', clsname: 'icon-envelope', txt: 'Mesajlar'},
					{link: '#!checkmail', clsname: 'icon-edit', txt: 'Mail Doğrulama'},
					{link: '#!', clsname: 'icon-list-alt', txt: 'Çoklu Mail Doğrulama'},
					{link: 'logout.html', clsname: 'icon-off', txt: 'Çıkış'},
				];

				$scope.User = localStorage.userName;
				$scope.CurrentPageTitle = 'Gösterge Paneli';
				$scope.setCurrentLanguage('tr');
			}

			app.controller("myAdmin", ['$scope', 'xlatService',
				function ($scope, xlatService) {

					defaultListController($scope, xlatService);
			}]);

			app.controller("DashboardCtrl", ['$scope', 'xlatService',
				function ($scope, xlatService) {

				//alert($scope.getUser());
				defaultListController($scope, xlatService);
			}]);
			app.controller("CheckmailCtrl", ['$scope', 'xlatService',
				function ($scope, xlatService) {

				$scope.gizle = function() {
					$scope.alert = false;
				}

				$scope.goster = function() {
					$scope.alert = true;
				}

				$scope.Check = function() {
					if ($scope.email == 'a@a.com') {
						$scope.alertclass = 'alert-success';
						var msg = xlatService.xlat('EMAIL_OK', null);
						$scope.alerticon = 'icon-ok';
						$scope.result = msg;
					} else {
						$scope.alertclass = 'alert-danger';
						var msg = xlatService.xlat('EMAIL_ERR', null);
						$scope.alerticon = 'icon-trash';
						$scope.result = msg;
					}
					$scope.goster();
				}

				$scope.result = '';
				$scope.alert = false;
				$scope.alertclass = 'alert-success';
				$scope.alerticon = 'icon-trash';
				defaultListController($scope, xlatService);
			}]);

			</script>

	</body>
</html>
